
<!-- footer -->

<div class="footer animate__animated animate__fadeInUp">
	<div class="first_footer">
		<div class="container custom_container">
			<div class="row">
				<div class="col-lg-6 col-md-7 col-12 d-none d-sm-none d-md-block">
					<span class="d-inline-block"><svg width="110px" height="110px"><use xlink:href="#send"></use></svg></span>
					<div class="newsletter d-inline-block align-middle">
						<h4 class="text-light">Join Our Newsletter Now</h4>
						<p class="mb-0">Register to get updates on promotions.</p>
					</div>
				</div> <!-- col-md-5 col-12 -->
				<div class="col-lg-6 col-md-5 col-sm-12 col-12">
					<div class="input-group">
					  <input type="text" class="form-control border-white" placeholder="Subscribe newsletter..." aria-label="Subscribe newsletter..." aria-describedby="button-addon2">
					  <div class="input-group-append">
					    <button class="btn btn-outline-secondary text-uppercase" type="button" id="button-addon2">submit</button>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- row first_footer -->

	<div class="second_footer ">
		<div class="container custom_container">
			<div class="row">
				<div id="logo_carousel" class="owl-carousel owl-theme ">

					<div class="item">
					    <div class="col-12">
							<a href="#">
									<img src="../assets/img/logo1.png" class="second-img mx-auto d-block img-fluid" alt="logo1">												
							</a>							
						</div>
					</div> <!-- item -->

					<div class="item">
					    <div class="col-12">
							<a href="#">
									<img src="../assets/img/logo2.png" class="second-img mx-auto d-block img-fluid" alt="logo2">												
							</a>							
						</div>
					</div> <!-- item -->

					<div class="item">
					    <div class="col-12">
							<a href="#">
									<img src="../assets/img/logo3.png" class="second-img mx-auto d-block img-fluid" alt="logo3">												
							</a>							
						</div>
					</div> <!-- item -->

					<div class="item">
					    <div class="col-12">
							<a href="#">
									<img src="../assets/img/logo4.png" class="second-img mx-auto d-block img-fluid" alt="logo4">												
							</a>							
						</div>
					</div> <!-- item -->

					<div class="item">
					    <div class="col-12">
							<a href="#">
									<img src="../assets/img/logo1.png" class="second-img mx-auto d-block img-fluid" alt="logo1">												
							</a>							
						</div>
					</div> <!-- item -->

					<div class="item">
					    <div class="col-12">
							<a href="#">
									<img src="../assets/img/logo2.png" class="second-img mx-auto d-block img-fluid" alt="logo2">												
							</a>							
						</div>
					</div> <!-- item -->

					<div class="item">
					    <div class="col-12">
							<a href="#">
									<img src="../assets/img/logo3.png" class="second-img mx-auto d-block img-fluid" alt="logo3">												
							</a>							
						</div>
					</div> <!-- item -->

				</div>
			</div>
		</div>
	</div> <!-- row first_footer -->

	<div class="third_footer">

		<div class="container custom_container">
			<div class="th_foo">
				<div class="row">

					<div class="col-xl-4 col-lg-3 col-md-3 col-12 f_col">
						<div class="fst_col">
							<div class="footer_title">
								<h5 class="text-uppercase text-white">contact us<button class="toggle collapsed" data-toggle="collapse" data-target="#fproduct"></button></h5>
							</div>
							<div class="categorie collapse " id="fproduct">
							<ul class="add_row">
								<li>
									<div>
										<a href="#"><svg width="18px" height="18px"><use xlink:href="#map"></use></svg></a>
									</div>
									<div class="data1 add">
									 <a href="#">1093,  Marigold Lane,<br> Coral Way, Miami,<br>Florida, 33169</a>
									</div>
								</li>
								<li>
									<div>
										<a href="#"><svg height="16px" width="16px"><use xlink:href="#call" ></use></svg></a>
									</div>
									<div>
									<a href="#">610-403-403</a>
									</div>
								</li>
  								<li>
									<div>
										<a href="#"><svg height="16px" width="16px"><use xlink:href="#mail" ></use></svg></a>
									</div>
									<div>
									<a href="#" class="mail_f">company@example.com</a>
									</div>
								</li>
							</ul>
							<ul class="foo_pay">
								<li>
									<a href="#"><i class="fab fa-cc-mastercard"></i></a>
								</li>
								<li>
									<a href="#"><i class="fab fa-cc-visa"></i></a>
								</li>
								<li>
									<a href="#"><i class="fas fa-credit-card"></i></a>
								</li>
								<li>
									<a href="#"><i class="fab fa-cc-paypal"></i></a>
								</li>
							</ul>
						</div>
						</div>
					</div>

					<div class="col-xl-3 col-lg-3 col-md-3 col-12">
						<div class="sec_col">
							<div class="footer_title">
								<h5 class="text-uppercase text-white">my account<button class="toggle collapsed" data-toggle="collapse" data-target="#sproduct"></button></h5>
							</div>
							<div class="categorie collapse" id="sproduct">
							<ul>
								<li><a href="about-us.html">About Us</a></li>
								<li><a href="#">Delivery Infomations</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Discount</a></li>
								<li><a href="#">Custom Service</a></li>
								<li><a href="#">Terms & Condition</a></li>
							</ul>
						</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-12">
						<div class="th_col">
							<div class="footer_title">
								<h5 class="text-uppercase text-white">categories<button class="toggle collapsed" data-toggle="collapse" data-target="#tproduct"></button></h5>
							</div>
							<div class="categorie collapse" id="tproduct">
							<ul>
								<li><a href="#">airplanes</a></li>
								<li><a href="#">cars</a></li>
								<li><a href="#">Helicopters</a></li>
								<li><a href="#">Quadcopters</a></li>
								<li><a href="#">RC Boats & Yachts</a></li>
								<li><a href="#">RC Vehicle Parts</a></li>
								<li><a href="#">Drones Mini Drones</a></li>
								<li><a href="#">My personal info</a></li>

							</ul>
						</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-3 col-12">
						<div class="fth_col">
							<div class="footer_title">
								<h5 class="text-uppercase text-white">information<button class="toggle collapsed" data-toggle="collapse" data-target="#fh_product"></button></h5>
							</div>
							<div class="categorie collapse" id="fh_product">
							<ul>
								<li><a href="#">About</a></li>
								<li><a href="#">Delivery</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Discount</a></li>
								<li><a href="#">Custom Service</a></li>
								<li><a href="#">Terms & Condition</a></li>
							</ul>
						</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div> <!-- row first_footer -->

 

	<div class="fifth_footer">
		<div class="container custom_container">
			<div class="row">
				<div class="col-12">
					<div class="text-center demo_link d-block">2021 @ All rights reserved Powered by <a href="#">De-web.uz</a></div>
				</div>
			</div>
		</div>
	</div> <!-- row first_footer -->
</div> <!-- footer -->

<!-- footer end -->