<!-- header area -->
																		<!-- first row -->
                                                                        <header>
                                                                            <div class="topbar-outer py-2 border-bottom bg-white d-md-none d-none d-none d-lg-block">
                                                                                <div class="container custom_container">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-5 col-md-4 col-sm-4 topbar_left">
                                                                                            <ul>
                                                                                                <li>
                                                                                                    <span class="font-weight-bolder">Get 30% Off On Selected Items</span>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div> <!-- col-lg-5 col-md-4 col-sm-4 hidden-md-down topbar_left -->
                                                                                        <div class="col-lg-7 col-md-8 col-sm-8 text-xs-right  topbar_right text-right">
                                                                                            
                                                                                            <nav class="navbar ">
                                                                                                <div class="dropdown right1 md_acc ">
                                                                                                  <span class="dropdown-toggle" role="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="#" class="font-weight-bolder"> my account&nbsp;<i class="fas fa-angle-down"></i></a>
                                                                                                  </span>
                                                                                                  <div class="dropdown-menu r_menu dropdown-menu-right" >
                                                                                                        <a class="dropdown-item font-weight-bolder" href="login.html">log in</a>
                                                                                                        <a class="dropdown-item font-weight-bolder" href="registration.html">register</a>
                                                                                                  </div>
                                                                                                </div>
                                                                                            <div class="dropdown right1 md_1 hr_">
                                                                                              <span class="dropdown-toggle" role="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="#" class="font-weight-bolder"> USD&nbsp;<i class="fas fa-angle-down"></i></a>
                                                                                              </span>
                                                                                              <div class="dropdown-menu r_menu dropdown-menu-right" >
                                                                                                <a class="dropdown-item font-weight-bolder" href="#">SAR SAR</a>
                                                                                                <a class="dropdown-item font-weight-bolder" href="#">USD $</a>
                                                                                              </div>
                                                                                            </div>
                                                                                            
                                                                                            <div class="dropdown right1 md_2 hr_">
                                                                                              <span class="dropdown-toggle" role="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="#" class="font-weight-bolder">ENG&nbsp;<i class="fas fa-angle-down"></i></a>
                                                                                              </span>
                                                                                              <div class="dropdown-menu r_menu dropdown-menu-right" >
                                                                                                <a class="dropdown-item font-weight-bolder" href="#">English</a>
                                                                                                <a class="dropdown-item font-weight-bolder" href="#">Polski</a>
                                                                                                <a class="dropdown-item font-weight-bolder" href="#">Romana</a>
                                                                                                <a class="dropdown-item font-weight-bolder" href="#">Deutsch</a>
                                                                                                <a class="dropdown-item font-weight-bolder" href="#">Italiano</a>
                                                                                              </div>
                                                                                            </div>
                                                                                        </nav>
                                                                                            
                                                                                        </div> <!-- col-lg-7 col-md-8 col-sm-8 text-xs-right hidden-md-down topbar_right text-right -->
                                                                                    </div> <!-- row -->
                                                                                </div> <!-- container custom_container -->
                                                                            </div> <!-- topbar-outer py-2 border-bottom bg-white -->
                                                                    
                                                                                                                                        <!-- second row -->
                                                                    
                                                                            <div   class="header-top py-4 border-bottom bg-white ">
                                                                                <div class="container custom_container header-top-container">
                                                                                    <div class="row">
                                                                                        <div class="col-xl-2 col-lg-2 col-6  head-logo">
                                                                                            <div class="text-left header-top-left pt-2"><a href="index-2.html"><img src="assets/img/Hitech..png" class="img-responsive img"  alt="Hitech"></a></div>
                                                                                        </div> <!-- col-xl-2 col-lg-2 col-md-2 col-sm-3 head-logo -->
                                                                                        <div class="col-xl-10 col-lg-10 col-6  head-search">
                                                                                            <div class="d-flex navbar">
                                                                                            <div class="input-class  text-left col-xl-8 col-lg-7 col-md-12  ">
                                                                                                <div class="between-header border border-danger rounded mb-0 head-left">
                                                                                                
                                                                                                    <select class="select-menu form-select d-none d-sm-block" >
                                                                                                        <option value="selected">all categories</option>
                                                                                                        <option value="1">laptop</option>
                                                                                                        <option value="2">headphone</option>
                                                                                                        <option value="3">audio</option>
                                                                                                    </select>
                                                                                                    
                                                                                                                                
                                                                                                    <div class="input-group">
                                                                                                        <input type="text" placeholder="search" class="form-control" aria-label="search" aria-describedby="button-addon2">
                                                                                                        <div class="input-group-btn"><button type="button" class="btn btn-danger text-uppercase font-weight-normal">search</button></div>
                                                                                                    </div>
                                                                                                </div> <!-- between-header text-left col-sm-8 head-left border border-danger rounded mb-0 -->
                                                                                            </div>
                                                                    
                                                                                            <div class="col-xl-4 col-lg-5 head-right text-right">
                                                                                                <ul>
                                                                                                <li class="md_compare d-lg-inline-block">
                                                                                                    <a href="compare.html">
                                                                                                    <span class="rcom d-lg-inline-block d-md-none d-sm-none d-none"><svg width="34px" height="34px"><use xlink:href="#compare"></use></svg></span>
                                                                                                    <span class="comp_wish align-middle d-lg-inline-block font-weight-bolder">compare</span>
                                                                                                    </a>
                                                                                                </li>
                                                                                                <li class="md_wish d-lg-inline-block d-md-none d-sm-none d-none">
                                                                                                    <a href="wishlist.html">
                                                                                                    <span class="rcom d-lg-inline-block d-md-none d-sm-none d-none"><svg  width="35px" height="35px"><use xlink:href="#favourite"></use></svg></span>
                                                                                                    <span class="comp_wish align-middle d-lg-inline-block font-weight-bolder">favourite</span>
                                                                                                    </a>
                                                                                                </li>
                                                                                                
                                                                                                <li class="d-lg-none d-md-inline-block user">
                                                                                                      <span >
                                                                                                        <a href="#"><span><svg width="35px" height="35px"><use xlink:href="#header_user"></use></svg></span></a>
                                                                                                      </span>
                                                                                                      <div class="head_ border rounded bg-white text-left">
                                                                                                        <a class=" md_login" href="#"></a>
                                                                                                      </div>
                                                                                                </li> 
                                                                    
                                                                                                <li class="dropdown d-inline-block">
                                                                                                      <span class="dropdown-toggle" role="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                                          <a href="#">
                                                                                                            <span><svg width="35px" height="35px"><use xlink:href="#cart"></use></svg></span>
                                                                                                            <span class="text-danger d-lg-inline-block d-md-none d-sm-none d-none align-middle font-weight-bolder"></span><span class="text-danger price_cart d-md-inline-block align-middle font-weight-bolder">2</span>
                                                                                                        </a>
                                                                                                      </span>
                                                                                                      <div class="dropdown-menu s_cart dropdown-menu-right" >
                                                                                                        <ul class="shopping-cart p-2 ">
                                                                                                            <li class="pb-2 d-block">
                                                                                                                <div class="media ">
                                                                                                                    <div>
                                                                                                                  <a href="#"><img src="assets/img/product/product_13.jpg" class="fst-image img-fluid align-self-center" alt="product_13"></a></div>
                                                                                                                  <div class="media-body">
                                                                                                                    <h6 class="mt-0 f_15">Media heading<span class="float-right cart_cross">X</span></h6>
                                                                                                                    <p><span class="f_13">1 x $ 299.00</span></p>
                                                                                                                  </div>
                                                                                                                </div>
                                                                                                            </li>
                                                                                                            <li class="pb-2 d-block border-bottom pl-0">
                                                                                                                <div class="media ">
                                                                                                                    <div>
                                                                                                                  <a href="#"><img src="assets/img/product/product_21.jpg" class="fst-image img-fluid align-self-center" alt="product_21"></a></div>
                                                                                                                  <div class="media-body">
                                                                                                                    <h6 class="mt-0 f_15">Media heading<span class="float-right cart_cross">X</span></h6>
                                                                                                                    <p><span>1 x $ 299.00</span></p>
                                                                                                                  </div>
                                                                                                                </div>
                                                                                                            </li>
                                                                                                            <li class="d-block text-muted font-weight-bolder p-2 border-bottom">
                                                                                                                <span class="text-left">subtotal:</span>
                                                                                                                <span class="float-right">$230.00</span>
                                                                                                            </li>
                                                                                                            <li class="d-block font-weight-bolder pt-2">
                                                                                                                <span class="text-left"><a href="cart.html">view cart</a></span>
                                                                                                                <span class="float-right"><a href="checkout.html">check out</a></span>
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                      </div>
                                                                                                </li>
                                                                                            </ul>
                                                                                                
                                                                                            </div> <!-- col-sm-4 head-right text-right -->
                                                                    
                                                                                            </div> <!-- row -->
                                                                                        </div> <!-- col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 head-search -->
                                                                                    </div> <!-- row -->
                                                                                </div> <!--  container custom_container -->
                                                                            </div> <!-- header-top py-4 border-bottom bg-white -->
                                                                    
                                                                                                                                                <!-- third row -->
                                                                    
                                                                            <div id="sp_header_top" class="header_bottom shadow-sm bg-white rounded bg-white d-md-none d-sm-none d-none d-lg-block">
                                                                                <div class="container custom_container">
                                                                                    <div class="row">
                                                                                        
                                                                                        <div class="col-lg-9 text-left sp_hz_menu">
                                                                                            <ul class="main-menu navbar">
                                                                                                <li><a href="index-2.html">Home</a></li>
                                                                                                <li><a href="shop-left-sidebar.html">Shop</a></li>
                                                                                                <li><a href="blog.html">blog</a></li>
                                                                                                <li><a href="portfolio-grid-4.html">gallery</a></li>
                                                                                                <li><a href="about-us.html">about us</a></li>
                                                                                                <li><a class="dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-expanded="false">pages  <i class="fas fa-angle-down"></i></a>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li class="d-block"><a class="dropdown-item font-weight-bolder" href="about-us.html">about us</a></li>
                                                                                                        <li class="d-block"><a class="dropdown-item font-weight-bolder" href="single-product.html">single product</a></li>
                                                                                                        <li class="d-block"><a class="dropdown-item font-weight-bolder" href="single-blog.html">single blog</a></li>
                                                                                                        <li class="d-block"><a class="dropdown-item font-weight-bolder" href="login.html">login</a></li>
                                                                                                        <li class="d-block"><a class="dropdown-item font-weight-bolder" href="registration.html">registration</a></li>
                                                                                                        <li class="d-block"><a class="dropdown-item font-weight-bolder" href="cart.html">cart</a></li>
                                                                                                        <li class="d-block"><a class="dropdown-item font-weight-bolder" href="compare.html">compare</a></li>
                                                                                                        <li class="d-block"><a class="dropdown-item font-weight-bolder" href="wishlist.html">wishlist</a></li>
                                                                                                        <li class="d-block"><a class="dropdown-item font-weight-bolder" href="checkout.html">check out</a></li>
                                                                                                        <li class="d-block"><a class="dropdown-item font-weight-bolder" href="forgot.html">forgot password</a></li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div> <!-- col-lg-9 text-left -->
                                                                                
                                                                                    </div> <!-- row -->
                                                                                </div> <!-- container custom_container -->
                                                                            </div> <!-- header_bottom shadow-sm bg-white rounded bg-white -->
                                                                    
                                                                        </header> <!-- header -->
                                                                    
                                                                    <!-- header area end -->

<!-- vertical menu and slider -->

<div id="home_vertical_menu" class="container custom_container menu_slider ">
    <div class="row ">
        <div class="col-lg-3 vertical_menu ">
            <div class="v_menu bg-white rounded">
            <div class="cat_menu bg-warning rounded-top"><a href="#" class="pe-auto text-uppercase d-md-none d-sm-none d-none d-lg-block font-weight-bold"><i class="fas fa-bars"></i>all categories</a></div>

            <div class="navbar-header d-xl-none d-lg-none">
                <button type="button" class="btn-navbar navbar-toggle" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fas fa-bars"></i></button>
            </div>
            <div id="mySidenav" class="sidenav 	">
                <div class="close-nav d-xl-none d-lg-none">
                        <span class="categories">Category</span>
                        <a href="javascript:void(0)" class="closebtn pull-right" onclick="closeNav()"><i class="fas fa-times"></i></a>
                </div>

            <ul class="vertical_main_menu h_menu navbar navbar-nav">
                    <!-- <li class="dropdown mega_menu m1_menu level-1 font-weight-bolder">
                        <a class="dropdown-toggle" href="single-product.html"  role="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-mobile-alt"></i>portfolio&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <ul class="row mx-0">
                                        <li class="mg_menu col-lg-6 col-md-12 ">
                                            <ul>
                                                <li class="h_title text-uppercase font-weight-bold border-bottom">portfolio grid 2</li>
                                                <li><a class="dropdown-item font-weight-bolder" href="portfolio-grid-2.html">portfolio grid 2</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="portfolio-grid-3.html">portfolio grid 3</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="portfolio-grid-4.html">portfolio grid 4</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="mesonary-grid-2.html">mesonary grid 2</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="mesonary-grid-3.html">mesonary grid 3</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="mesonary-grid-4.html">mesonary grid 4</a></li>
                                            </ul>
                                        </li>
                                        <li class="mg_menu col-lg-6 col-md-12">
                                            <ul>
                                                <li class="h_title text-uppercase font-weight-bold border-bottom">theme elements</li>
                                                <li><a class="dropdown-item font-weight-bolder" href="title.html">title</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="category-style.html">category</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="services.html">services</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="product-tab.html">product tab</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="multi-slider-product.html">multi slider product</a></li>
                                            </ul>
                                        </li>						 
                                    </ul>
                                </li>
                            </ul>
                    </li>
                    <li class="dropdown level-1 font-weight-bolder">
                        <a class="dropdown-toggle" href="blog.html"  role="button" data-toggle="dropdown" aria-expanded="false"><i class="far fa-hourglass"></i>blog&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item font-weight-bolder" href="blog.html">blog</a></li>
                              <li><a class="dropdown-item font-weight-bolder" href="blog-left-sidebar.html">left sidebar</a></li>
                              <li><a class="dropdown-item font-weight-bolder" href="blog-right-sidebar.html">right sidebar</a></li>
                            </ul>
                    </li>
                    <li class="dropdown level-1 font-weight-bolder">
                        <a class="dropdown-toggle" href="shop-left-sidebar.html"  role="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-laptop"></i>shop&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item font-weight-bolder" href="shop-left-sidebar.html">left sidebar</a></li>
                              <li><a class="dropdown-item font-weight-bolder" href="shop-right-sidebar.html">right sidebar</a></li>
                            </ul>
                    </li> -->
                    <!-- <li class="dropdown mega_menu level-1 font-weight-bolder">
                        <a class="dropdown-toggle" href="single-product.html"  role="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-mobile-alt"></i>Smartphone&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <ul class="row mx-0">
                                        <li class="mg_menu col-lg-4 col-md-12 ">
                                            <ul>
                                                <li class="h_title text-uppercase font-weight-bold border-bottom">fashion</li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">Laptop</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">head phone</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">computer</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">chair</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">mobile</a></li>
                                            </ul>
                                        </li>
                                        <li class="mg_menu col-lg-4 col-md-12">
                                            <ul>
                                                <li class="h_title text-uppercase font-weight-bold border-bottom">fashion</li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">Laptop</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">head phone</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">computer</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">chair</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">mobile</a></li>
                                            </ul>
                                        </li>
                                        <li class="mg_menu col-lg-4 col-md-12">
                                            <ul>
                                                <li><a href="single-product.html"><img src="../assets/img/product/deal2.jpg" class="fst-image mx-auto d-block mb-1 img-fluid" alt="deal2"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                    </li> -->
                    <!-- <li class="dropdown level-1 font-weight-bolder">
                        <a class="dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-laptop"></i>pages&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu" >
                                <li><a class="dropdown-item font-weight-bolder" href="about-us.html">about us</a></li>
                                <li><a class="dropdown-item font-weight-bolder" href="login.html">login</a></li>
                                <li><a class="dropdown-item font-weight-bolder" href="registration.html">registration</a></li>
                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">single product</a></li>
                                <li><a class="dropdown-item font-weight-bolder" href="single-blog.html">single blog</a></li>
                                <li><a class="dropdown-item font-weight-bolder" href="cart.html">cart</a></li>
                                <li><a class="dropdown-item font-weight-bolder" href="compare.html">compare</a></li>
                                <li><a class="dropdown-item font-weight-bolder" href="wishlist.html">wishlist</a></li>
                                <li><a class="dropdown-item font-weight-bolder" href="checkout.html">check out</a></li>
                                <li><a class="dropdown-item font-weight-bolder" href="forgot.html">forgot password</a></li>
                            </ul>
                    </li> -->
                    <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-tv"></i>TV & Audio</a></li>
                    <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-headphones-alt"></i>Headphone</a></li>
                    <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="far fa-clock"></i>Smart watch</a></li>
                    <li class="level-1 font-weight-bolder"><a href="shop-left-sidebar.html"><i class="far fa-keyboard"></i>Accessories</a></li>
                    <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-tshirt"></i>Fashion</a></li>
                    <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-universal-access"></i>Sale and Offers</a></li>
                    <li class="level-1 font-weight-bolder"><a href="shop-left-sidebar.html"><i class="far fa-keyboard"></i>Accessories</a></li>
                    <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-tshirt"></i>Fashion</a></li>
                    <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-universal-access"></i>Sale and Offers</a></li>
                
            </ul>
        </div>
            </div> <!-- v_menu bg-white rounded -->
        </div> <!-- col-md-3 vertical_menu -->
        <div class="col-lg-9 col-md-12 main_slider">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../assets/img/s1.jpg" class="d-block w-100 img-fluid" alt="s1">
                </div> <!-- carousel-item active -->
                <div class="carousel-item">
                  <img src="../assets/img/s2.jpg" class="d-block w-100 img-fluid" alt="s2">
                </div> <!-- carousel-item -->
                <div class="carousel-item">
                  <img src="../assets/img/s3.jpg" class="d-block w-100 img-fluid" alt="s3">
                </div> <!-- carousel-item -->
              </div> <!-- carousel-inner -->
              <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
            </div> <!-- carousel slide carousel-fade -->
        </div> <!-- col-md-9 main_slider -->
    </div> <!-- row -->
</div> <!-- container custom_container menu_slider mt-4 -->

<!-- vertical menu and slider end -->